<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrient</title>
	<link href="static/css_main/bootstrap.min.css" rel="stylesheet">
	<link href="static/css_main/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css_main/font-awesome.min.css" />
	<link href="static/css_main/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Geostar+Fill|Leckerli+One|Montez" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<script src="static/js_main/jquery-2.1.1.min.js"></script>
	<script src="static/js_main/bootstrap.min.js"></script>
	<script src="static/js_main/ekko-lightbox.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
<body>
<section id="header" class="header_menu">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand heading_tag" href="index.html">Nutrient </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="tag_menu" href="home">HOME</a>                    </li>

                    <li>
                        <a class="tag_menu" href="about">ABOUT</a>                    </li>

					<li>
                        <a class="tag_menu" href="blog">Blogpost</a>                    </li>

					<li>
                        <a class="tag_menu active_tab" href="detail">DETAIL</a>                    </li>

					<li>
                        <a class="tag_menu" href="menu">DISHES</a>                    </li>

					<li>
                        <a class="tag_menu" href="services">SERVICES</a>                    </li>

					<li>
                        <a class="tag_menu" href="team">TEAM</a>                    </li>

					<li>
                        <a class="tag_menu" href="contact">Contact</a>                    </li>

					<li class="dropdown">
					  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a href="home">Home</a></li>
						<li><a href="logout">Logout</a></li>

					  </ul>
                    </li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="header_mini">
    <div class="container">
	  <div class="row">
	          <div class="header_mini clearfix">
			      <h1><a class="heading_tag" href="index.html">Nutrient</a></h1>
			  </div>
	                <a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>
		  
			         <div id="sidebar-wrapper" class="">
						  <ul class="sidebar-nav">
							<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-remove"></i></a>
							<li class="sidebar-brand">
							  <a class="heading_tag" href="index.html">Nutrient</a></li>
								 <li>
                        <a class="tag_menu" href="index.html">HOME</a>                    </li>
                     
                                 <li>
                        <a class="tag_menu" href="about.html">ABOUT</a>                    </li>
					 
					             <li>
                        <a class="tag_menu" href="blog.html">BLOG</a>                    </li>
                    
					             <li>
                        <a class="tag_menu active_tab" href="detail.html">DETAIL</a>                    </li>
					
					             <li>
                        <a class="tag_menu" href="menu.html">DISHES</a>                    </li>
					
					             <li>
                        <a class="tag_menu" href="services.html">SERVICES</a>                    </li>
						
					              <li>
                        <a class="tag_menu" href="team.html">TEAM</a>                    </li>
						
					               <li>
                        <a class="tag_menu" href="contact.html">CONTACT</a>                    </li>
					
				                	<li class="dropdown">
					  <a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blogpost</a></li>
						<li><a href="#">Detail</a></li>
					  </ul>
                    </li>
						  </ul>
			         </div>
					 
	   </div>
	</div>
  </section>

<section id="blog">
  <div class="container">
   <div class="row">
    <div class="menu_1 clearfix text-center">
	  <h1>Detail</h1>
	</div>
    <div class="blog clearfix">
	 <div class="col-sm-9">
	  <div class="blog_left">
	    <h4><a href="#">CONUBIA NOSTRA  DOLOR SIT AMET, CONSECTETUR ADIPISCING </a></h4>
		<h5><i class="fa fa-calendar"></i>10.06.2016</h5>
		<div class="card-image"><img src="img/20.jpg" width="100%"></div>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		<p> Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
		
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
		<h2 class="heading_1">Blog Detail</h2>
		<ul>
	    <li>1- Lorem ipsum dolor sit amet, consectetur adipiscing elit  odio Praesent libero.</li>
		<li>2- Sed cursus ante dapibus diam  Nulla quis sem  elementum imperdiet.</li>
		<li>3- Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</li>
		<li>4- Praesent mauris Fusce nec tellus sed augue semper porta.</li>
		<li>5-  Mauris massa Vestibulum lacinia arcu eget nulla class aptent taciti sociosqu.</li>
		<li>6- Ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
		<li>7- Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.</li>
		<li>8- Torquent per conubia nostra, per inceptos himenaeos Curabitursodales ligula in libero Sed dignissim lacinia nunc.</li>
		<li>9- Ante dapibus diam nisi  sem at nibh elementum imperdiet Duis sagittis ipsum.</li>
	   </ul>
	  </div>
	  <div class="comment clearfix">
	   <div class="comment_inner clearfix">
	    <img class="img-circle" src="img/29.jpg">
		<div class="clear_1 clearfix">
		<h4>Augue Semper</h4>
		 <h6><i class="fa fa-clock-o"></i> 11 hours ago</h6>
		</div>
		<p>Nulla quis sem  elementum imperdiet  ipsum</p>
		<div class="comment_inner_inner clearfix">
		 <div class="col-sm-7 space_left">
		  <div class="comment_inner_inner_left">
		    <a class="color_1" href="#">Answer</a>
		    <a href="#">Share</a>
			<a class="border_none_1" href="#">Spam</a>
		  </div>
		 </div>
		 <div class="col-sm-5 space_left">
		  <div class="comment_inner_inner_left text-right">
		    <a class="color_2" href="#"><i class="fa fa-thumbs-up"></i> 3</a>
		    <a class="color_3 border_none_1" href="#"><i class="fa fa-thumbs-down"></i> 1</a>
		  </div>
		 </div>
		</div>
	   </div>
	   <div class="comment_inner comment_color clearfix">
	    <img class="img-circle" src="img/30.jpg">
		<div class="clear_1 clearfix">
		<h4>Eget Nulla 2016 </h4>
		 <h6><i class="fa fa-clock-o"></i> 10 hours ago</h6>
		</div>
		<p>Sem elementum </p>
		<div class="comment_inner_inner clearfix">
		 <div class="col-sm-7 space_left">
		  <div class="comment_inner_inner_left">
		    <a class="color_1" href="#">Answer</a>
		    <a href="#">Share</a>
			<a class="border_none_1" href="#">Spam</a>
		  </div>
		 </div>
		 <div class="col-sm-5 space_left">
		  <div class="comment_inner_inner_left text-right">
		    <a class="color_2" href="#"><i class="fa fa-thumbs-up"></i> 4</a>
		    <a class="color_3 border_none_1" href="#"><i class="fa fa-thumbs-down"></i> 1</a>
		  </div>
		 </div>
		</div>
	   </div>
	   <div class="comment_button clearfix">
	     <h5 class="text-center"><a href="#"><strong>+</strong> Recent comments</a></h5>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-3">
	   <div class="blog_right">
	     <h4>LATEST BLOGS</h4>
		 <div class="card-image">
		  <img src="img/23.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">CONUBIA NOSTRA DOLOR SIT AMET, CONSECTETUR ADIPISCING</a></h5>
	   </div>
	   <div class="blog_right">
		 <div class="card-image">
		  <img src="img/24.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">POPULAR OF THE WEDDING WORLD</a></h5>
	   </div>
	   <div class="blog_right">
		 <div class="card-image">
		  <img src="img/25.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">LITORA TORQENT PER CONUBIA NOSTRA</a></h5>
	   </div>
	   <div class="blog_right">
		 <div class="card-image">
		  <img src="img/26.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">THE MAIN AIM OF THE WEDDING WORLD</a></h5>
	   </div>
	   <div class="blog_right">
		 <div class="card-image">
		  <img src="img/27.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">PRAESENT LIBERO CONSECTETUR ADIPISCING ELIT DOLOR SIT AMET ELIT INTEGER NEC ODIO </a></h5>
	   </div>
	   
	   <div class="blog_right">
		 <div class="card-image">
		  <img src="img/28.jpg" width="100%">
		 </div>
		 <h5 class="heading_tag"><a href="#">LITORA TORQENT PER CONUBIA NOSTRA</a></h5>
	   </div>
		<div class="blog_right_inner_4 clearfix">
		  <h4> Newsletter Subscriber</h4>
		  <p> Mauris massa vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra,</p>
		  <input class="form-control" placeholder="Email" type="text">
		  <span><a href="#">Sign Up</a></span>
		  <h5>We take care about privacy privacy!</h5>
		</div>
	 </div>
	</div>
   </div>
  </div>
</section>

<section id="contact_home" class="clearfix">
   <div class="contact_home clearfix">
    <div class="col-sm-6 space_all">
	 <div class="contact_home_left">
				    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
	 </div>
	</div>
	<div class="col-sm-6 space_all">
	 <div class="contact_home_right clearfix">
	  <h3 class="heading_tag">Adipiscing , 43 America tus,<br> 12345</h3>
	  <h3 class="heading_tag">Open time: Mon-Sat 10:00-<br>01:00,<br>
Sat-Sun 13:00-16:00</h3>
       <h3 class="heading_tag">Call <a href="#">(123)456-7890</a></h3>
	  <div class="contact_home_right_inner clearfix"> <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul></div>
	 </div>
	</div>
   </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
     <div class="footer text-center">
	    <p> © 2013 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
   </div>
  </div>
 </div>
</section>

<script src="js/classie.js"></script>

<script src="js/cbpAnimatedHeader.js"></script>

<script type="text/javascript">
	  $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
	</script>

</body>
       
</html>
